* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
}

.head-section {
    background-color: palevioletred;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 44px;
    font-weight: 800;
    padding: 15px;
}
.custom, .erase {
    padding: 12px;
    margin: 10px 0px 30px 0px;
    background-color: brown;
    color: white;
    border: 0px;
    border-radius: 8px;
}

.container {
    width: 960px;
    height: 680px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 3px solid gray;
    border-radius: 8px;
}

.gridLine {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex: 1;
}

.singleGrid {
    flex: 1;
}
.hover {
    background-color: black;
}